body {
  box-sizing: border-box;
  background-color: #ccc;
  color: #222;
}

footer {
  text-align: center;
  padding: 50px;
}

h2 {
  margin: 0 auto 30px;
}

header {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
}

hr {
  max-width: 5%;
  border: 1px solid #bbb;
}

a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ids */

#title {
  margin: 0;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 2rem;
}

#main {
  text-align: center;
  margin: auto;
}

#img-div {
  max-width: 90%;
  margin: auto;
}

#image {
  margin-top: 15px;
  border-radius: 5px;
  max-width: 60%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image:hover {
  opacity: 0.95;
}

#img-caption {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 0.9rem;
}


#tribute-info li {
  text-align: left;
  width: 50%;
  line-height: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* classes */
.top,
.mid,
.bottom {
  padding: 30px;
  margin: auto;
  width: 80%;
}
